.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:1112px){
    .navigation{
        flex-direction: column;
    }
}
.navigation ul {
    display: flex;
    list-style: none;
    gap:21px;
    align-items: center;

}
.navigation li a{
    display: flex;
    align-items: center;
    font-size: 21px;
    color:#21243D;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    position: relative;
}
.navigation li a::before{
    content:"";
    display: block;
    width: 0;
    position: absolute;
    height: 2px;
    background: #21243D;
    bottom: 0;
    transition: width .3s;
}
.navigation li a:hover::before{
    width: 100%;

}